@charset "UTF-8";

body{
	margin: 0 auto;
	font-family: "Century Gothic", sans-serif;
}

header{
	height: 55px;
	width: 100%;
	background-color: #66ccff;
	position: sticky;
	position: -webkit -sticky;
	top: 0px;
}

header img{
	float: left;
	height: 55px;
	width: 5%;
}

footer{
	text-align: center;
	padding: 10px;
	background-color: #66ccff;
	color: #FFF;
}
legend{
	text-align: left;
}

nav{
	clear: both;
	width: 95%;
	height: 100%;
	display: inline-block;
}

nav a{
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	margin: auto;
}

nav .opcao{
	float: left;
	width: 12%;
	background-color: #66ccff;
	margin: auto;
	font-size: 22px;
	text-align: center;
	padding-top: 15px;
}

.blococaixa{
	padding: 50px;
}
.blocoestoquista{
	padding: 50px;
}

nav .direita{
	float: right;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-content{
	display: none;
	position: absolute;
	background-color: #66ccff;
	z-index: 1;
	width: 100%;
}

.dropdown-content a{
	display: block;
}


.dropdown-content a:hover{
	background-color: #83afd3;
}

.dropdown:hover .dropdown-content{
	display: block;
}

.bloco{
	text-align: center;
	margin: auto;
	width: 500px;
}

section .imagens{
	width: 100px;
}
section .vazio{
	width: 100px;
}

section{
	clear: both;
	min-height: 571px;
	width: 100%;
	text-align: center;
	background-color: #66ccff;
}
section .bloco{
	padding-top: 150px;
}


h2{
	margin-top: auto;
}
.frmInserir, .frmFiltrar{
	margin: 0px auto;
	margin-bottom: 10px;
}


.frmInserir{
	width: 1000px;
}

.frmInserir table{
	width: 1000px;
}
.frmInserir td{
	margin: 50px;
}

.frmFiltrar{
	width: 350px;
}

.frmInserir label{
	width: 200px;
}

.frmInserir input,.frmInserir select{
	width: 200px;
	padding: 2px 0;
	text-align: left;
}

.frmInserir button, .frmFiltrar button{
	margin: 0 1%;
	font-weight: bold;
	font-size: 16px;
	margin: 0px auto;
    margin-bottom: 10px;
    text-align: center;
}

.frmInserir .aviso{
	background-color: #ff0000;
	color: #fff;
	font-weight: bold;
}


.frmInserir .botaoAdd{
	background-color: #00800000;
	border: none;
}

.frmInserir .botaoRemove{
	background-color: #ff0000;
}

.frmInserir fieldset{
	margin: 0px auto;
	width: fit-content;
}
.frmInserir .campoPequeno{
	width: 100px;
	padding: 2px 0;
}

.frmInserir .campoMedio{
	width: 200px;
	padding: 2px 0;
}

.frmInserir .campoGrande{
	width: 300px;
	padding: 2px 0;
}



.listaRegistros{
	margin-bottom: 10px;
}

.listaRegistros table{
	border: 1px solid #000;
	border-collapse: collapse;
	margin: 0 auto;
	min-width: 50%;
}

.listaRegistros table th{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #000;
	padding: 0 5px;
	border: transparent;
}

.listaRegistros tr, .listaRegistros td, .listaRegistros th{
	border: 1px solid #fff;
	padding: 0px 5px;
}

.listaRegistros tr, .listaRegistros td{
	font-size: 16px;
}

.listaRegistros tr:nth-child(even){
	background-color: #99ccff;
}

.listaRegistros tr:nth-child(odd){
	background-color: #66ccff;
}

.listaRegistros .acoes{
	width: 70px;
}

.listaRegistros table img{
	width: 20px;
	height: 20px;
	cursor: pointer; 
}

td a{
	text-decoration:none;
	color: #000;
}
#botoesInserir{
	padding-top: 30px;
	text-align: center;
}


#modalAviso, .modalEditar{
	display: none;
}

.frmInserir tr{	
	height: 50px;
	width: auto;
}
.frmInserir tr #addUsuario{	
	width: 1000px;
}

#addUsuario{
	width: 1000px;
}
.frmInserir table #addCategoria{
	width: 500px;
}

.frmInserir #addCategoria{	
	width: 500px;
}
#addCategoria{
	width: 500px;
}
#tableCategoria{
	width: 500px;
}


.frmInserir table #addProduto{
	width: 1030px;
}

.frmInserir #addProduto{	
	width: 1030px;
}
#addProduto{
	width: 1030px;
}
#tableProduto{
	width: 1030px;
}

#tipoid{
	width: auto;
}
#tipoid2{
	width: auto;
}

#addUsuario th{
	width: auto;
}

.tituloAlterar{
	padding-top: 75px;
}

