<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetoIndividual</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  <servlet-name>AutenticaServlet</servlet-name>
  <servlet-class>LoginServlet.AutenticacaoServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>AutenticaServlet</servlet-name>
  <url-pattern>/autenticar</url-pattern>
  </servlet-mapping>
  
  
   <servlet>
  <servlet-name>Jersey REST Service</servlet-name>
  <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
  <init-param>
  <param-name>jersey.config.server.provider.packages</param-name>
  <param-value>br.com.projetoindividual.rest</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Jersey REST Service</servlet-name>
  <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  
  
  
  <filter>
  		<filter-name>ServletFilter</filter-name>
  		<filter-class>Filter.ServletFilter</filter-class> 
  </filter>
  
  <filter-mapping>
  		<filter-name>ServletFilter</filter-name>
  		<url-pattern>/pages/*</url-pattern>
  </filter-mapping>
  
  
  
  <servlet>  
    <description></description>  
    <servlet-name>DeslogaServlet</servlet-name>  
    <servlet-class>LogoutServlet.DeslogaServlet</servlet-class>
  </servlet>  
  <servlet-mapping>  
    <servlet-name>DeslogaServlet</servlet-name>  
    <url-pattern>/logout</url-pattern>  
  </servlet-mapping>  
  
  
  <servlet>  
    <description></description>  
    <servlet-name>RedefinirSenhaServlet</servlet-name>  
    <servlet-class>RedefinirSenhaServlet.RedefinirSenhaServlet</servlet-class>
  </servlet>  
  <servlet-mapping>  
    <servlet-name>RedefinirSenhaServlet</servlet-name>  
    <url-pattern>/redefinirsenha</url-pattern> 
  </servlet-mapping>  
  
</web-app>